// Selector inheritance with @extend

// Define

h1 {
	font-size: 2em;
	line-height: 2em;
	color: #333;
	text-transform: uppercase;
}

h2 {
	font-size: 1em;
	line-height: 1em;
	@extend h1;
}

.large-copy{
	@extend h1;
}

// Output

h1, h2, .large-copy {
	font-size: 2em;
	line-height: 2em;
	color: #333;
	text-transform: uppercase;
}

h2 {
	font-size: 1em;
	line-height: 1em;
	@extend h1;
}

// Selector inheritance with silent @extend

// Define

%large-type {
	font-size: 4em;
	line-height: 2em;
	color: #333;
}

h1 {
	@extend %large-type;
}

h2 {
	font-size: 2em;
	@extend %large-type;
}

.big-letters {
	@extend %large-type;
}

// Output

h1, h2, .big-letters {
	font-size: 4em;
	line-height: 2em;
	color: #333;
}

h2 {
	font-size: 2em;
}