# Apache Rewrite Rules
 <IfModule mod_rewrite.c>
  Options -Multiviews
  Options +FollowSymLinks
  RewriteEngine On
  RewriteBase /

# Add trailing slash to url
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/|#(.*))$
  RewriteRule ^(.*)$ $1/ [R=301,L]

# Remove .php-extension from url
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.php -f
  RewriteRule ^([^\.]+)/$ $1.php 

# End of Apache Rewrite Rules
 </IfModule>

 ## enable browser image caching
<FilesMatch "\.(jpg|jpeg|gif|png)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>
 
## enable browser javascript caching
<FilesMatch "\.(js)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>
 
## enable browser css caching
<FilesMatch "\.(css)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>
 
## enable browser html caching
<FilesMatch "\.(html|php)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>
 
## javascript and css compression (gzip)
<IfModule mod_deflate.c>
<FilesMatch "\.(js|css)$">
SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>