footer {
	padding: 5em 0;
	
	ul {
		float: left;		
		padding-left: 0;
		margin-left: 10%;
		@include respond-to(large-screens) { 
			margin-left: 6%;
			}
		list-style: none;
		text-transform: uppercase;
		
		li {
			a, a:link, a:visited {
				font-size: .9em;
			}
		}
	}
		
	a, a:link, a:visited { color: white; }
	a:hover { text-decoration: none; }
	
	a.boompah {
		background-repeat: no-repeat;
		width: 150px;
		height: 150px;
		display: block;
		float: left;
	}
	
	.copyright {
		@include span-columns(12);
		
		margin-top: 3em;
		
		ul.social-links {
			float: right;
			li {
				float: right;
				margin-left: 1em;
				a, a:link, a:visited {
					font-size: 2em;
				}
			}
			@include respond-to(handhelds-and-medium-screens) { 
				float: none;
				margin-left: 3em;
				width: 60%;
				font-size: 1.25em;
			}
		} // ul
		
		p, ul {
			margin-top: 3em;
		}
		
		p{
			float: left;
			@include respond-to(handhelds-and-medium-screens) { 
				float: none;
				text-align: center;
				}
		}
		
	} // copyright
} // footer