footer {
	padding: 3em 0;

	.container {
		@include respond-to(handhelds-and-medium-screens) { text-align: center; }
	}
	
	ul {
		float: left;		
		padding-left: 0;
		margin-left: 9%;
		@include respond-to(large-screens) { 
			margin-left: 6%;
			}
		list-style: none;
		text-transform: uppercase;
		
		li {
			a, a:link, a:visited {
				@include respond-to(handhelds-and-medium-screens) { font-size: 1.25em; }
			}
		}
	} // ul
	
	ul.nav {
		@include respond-to(handhelds-and-medium-screens) { 
			margin-left: 0;
			width: 100%;
			a {
				width: 100%;
				padding: 1em 0;
				text-align: center;
				display: block;
				background-color: $light-purple;
				color: $dark-blue;
				@include border-top-radius(5px);
				@include border-bottom-radius(5px);
				@include border-left-radius(5px);
				@include border-right-radius(5px);
			}
			a:hover { background-color: darken($light-purple, 20%); }
			a:active { background-color: darken($light-purple, 10%); }
		}
		@include respond-to(large-screens) { 
			margin-left: 0;
			width: 100%;
			a {
				width: 100%;
				padding: 1em 0;
				text-align: center;
				display: block;
				background-color: $light-purple;
				color: $dark-blue;
				@include border-top-radius(5px);
				@include border-bottom-radius(5px);
				@include border-left-radius(5px);
				@include border-right-radius(5px);
			}
		}
	}
		
	a, a:link, a:visited { color: $white; }
	a:hover {
		text-decoration: none;
		color: darken($white, 40%);
	}
	a:active { color: darken($white, 20%); }
	
	a.boompah {
		background-repeat: no-repeat;
		width: 150px;
		height: 150px;
		float: left;
	}
	
	.copyright {
		@include span-columns(12);
		margin-top: 1em;
		p, ul {
			margin-top: 3em;
		}
	} // copyright
	.copyright-line {
		margin-top: 50px;
		float: left;
		font-size: 1em;
		display: inline-block;
		@include respond-to(handhelds-and-medium-screens) {
			float: none;
		}
	}

	ul.social-links {
		margin-top: 40px;
		float: right;
		display: inline-block;

		@include respond-to(handhelds-and-medium-screens) {
			margin-left: 0;
		}

		li {
			display: inline-block;
			margin: 0 10px;

			a, a:link, a:visited {
				font-size: 32px;
			}
		}
		@include respond-to(handhelds-and-medium-screens) { 
			float: none;
		}
	} // ul
} // footer