// Properly assigning weights to fonts

// Lora
$bold-normal: 400;
$bold-lora: 700;

$text-color: #333;
$quiet-color: #ccc;
$loud-color: #000;
$heading-color: #111;

$link-color: #d54aaf;
$link-hover-color: saturate(#d54aaf, 20%);
$link-visited-color: purple;

$base-font-family: 'Titillium Web', sans-serif;
$base-font-size: 24px;
$base-font-weight: 400;

$fixed-font-family: 'Andale Mono', AndaleMono, monospace;
$fixed-font-size: 15px;
$fixed-line-height: 1.2;

$heading-font-family: 'Titillium Web', sans-serif;
$heading-font-weight: 700;