// Modular and reusable portfolio items

.work-project {
  // Graphic on right text on left
  &.work-project-right {
    .work-project-image {
      float: right;
      @include respond-to(large-screens) { float: none; }
      @include respond-to(handhelds-and-medium-screens) { float: none; }
    }
    .cta-circle {
      margin-right: 10px;
    }
  }
  // Graphic on left text on right
  &.work-project-left {
    .work-project-content {
      float: right;
    }
    .work-project-image {
      float: left;
      @include respond-to(large-screens) { float: none; }
      @include respond-to(handhelds-and-medium-screens) { float: none; }
    }
    h2, p, a {
      text-align: right;
    }
    a.view-project {
      float: right;
    }
    .cta-circle {
      margin-left: 10px;
    }
  }
  .work-project-content {
    margin-top: 120px;
    color: $white;
    @include span-columns(6);
    @include respond-to(large-screens) {
      width: 80%;
      margin-top: 20px;
    }
    @include respond-to(handhelds-and-medium-screens) {
      margin-top: 20px;
      width: 100%;
    }
  }

  a.view-project {
    color: $white;
    .cta-circle {
      @include transition (all 0.35s ease-in-out);
      @include border-top-radius(50%);
      @include border-right-radius(50%);
      @include border-bottom-radius(50%);
      @include border-left-radius(50%);
      width: 50px;
      height: 50px;
      border: 1px solid $white;
      color: $white;
      float: left;
      text-align: center;
      padding-top: 7px;
    }
    span {
      position: relative;
      top: 5px;
      left: 2px;
      @include respond-to(large-screens) {
        float: left;
      }
      @include respond-to(handhelds-and-medium-screens) {
        float: left;
      }
    }
    &:hover {
      text-decoration: none;
      color: $primary-brand;
      .cta-circle {
        border: 1px solid $primary-brand;
        color: $primary-brand;
      }
    }
  }

  .work-project-image {
    margin-top: 120px;
    width: 400px;
    height: 320px;
    @include respond-to(large-screens) {
      margin-top: 40px;
    }
    @include respond-to(handhelds-and-medium-screens) {
      margin-top: 40px;
      width: 80%;
      height: auto;
      max-width: 400px;
      max-height: 500px;
    }
  }

  @include respond-to(large-screens) {
    text-align: center;
  }
  @include respond-to(handhelds-and-medium-screens) {
    text-align: center;
  }

  h2, p {
    font-family: 'Lato', sans-serif;
    text-align: left;
  }

  h2 {
    font-size: 3em;
    padding: 10px 0;
    font-weight: 100;
  }
  p,a {
    font-size: 1.35em;
    font-weight: 200;
    line-height: 1.75em;
  }

  // Specifics for Additional Tiles

  &.twiddy {
    border-top: 1px solid $primary-brand;
    min-height: 600px;
    background: url('/img/home/portfolio/01-twiddy-bg.jpg') no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
  }

  &.instagram-artwork {
    border-top: 1px solid $secondary-brand;
    min-height: 600px;
    background: url('/img/home/portfolio/01-twiddy-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
  }
}
