body.about {
	#masthead-wrapper, .dark-bg {
		background-color: $black;
		min-height: 600px;
	}
	#masthead-wrapper{
		h1 {
			color: $primary-brand;
			margin-top: 120px;
		}
		h3 {
			color: $white;
		}
	}
	.container.showcase {
		padding: 40px 20px;
		.profile-photo {
			text-align: center;
		}
		img {
			margin: 20px 0;
			@include respond-to(handhelds-and-medium-screens) { width: 40%; float: none;}
			@include respond-to(medium-screens) { width: 50%; }
			@include respond-to(handhelds) { width: 80%; }
		}
		.main-name {
			font-size: 3em;
			@include respond-to(large-screens) { font-size: 4.5em; }
			@include respond-to(medium-screens) { font-size: 3em; }
			@include respond-to(handhelds) { font-size: 2em; }

			@include respond-to(handhelds-and-medium-screens) { text-align: center; }

			font-weight: 300;
			margin-bottom: 0;
			br {
				@include respond-to(handhelds-and-medium-screens) { display: none; }
			}
		}
		.main-name {
			padding: 0;
		}
	}
	/* Testimonials */
	.testimonials {
		h2, p, h4 {
			@include respond-to(handhelds-and-medium-screens) { text-align: left; }
		}
	}
}


// Timeline

.timeline-bar {
	background-color: lighten($black, 95%);
	clear: both;
	text-align: left;
	color: $primary-brand;

	@include transition (all 0.35s ease-in-out);

	@include border-left-radius(8px);
	@include border-right-radius(8px);

	h3,span,p {
		font-weight: 500;
	}

	h3 {
		padding: 12px 0;
		@include respond-to(large-screens) { height: 46px; }
		@include respond-to(handhelds-and-medium-screens) { padding: 0 8px; }
	}

	.date {
		width: 5em;
		margin-right: .5em;
		text-align: center;
		display: block;
		float: left;
		background-color: $black;
		color: $white;
		font-weight: 200;
		font-size: 38px;

		@include border-left-radius(8px);

		@include respond-to(large-screens) { font-size: 30px; }
		@include respond-to(handhelds-and-medium-screens) {
			width: 100%;
			@include border-right-radius(8px);
			font-size: 22px;
		}

	}

	i {
		margin: 0px 20px 0 0;
		float: right;
		@include respond-to(handhelds-and-medium-screens) { display: none; }
	}
}

.timeline {
	h3 {
		@include respond-to(handhelds-and-medium-screens) { margin-top: 0; }
	}
}

a.timeline-bar {
	text-decoration: none;
}

// Custom Colours
.timeline-bar.highlight-toggle { background-color: $primary-brand; color: $white; }
.timeline-bar.highlight-toggle-dark { background-color: $black; color: $primary-brand; }

// ----------
// Adding CSS to round profile photo
// ----------

.about-profile-photo {
	border-radius: 50%;
	@include respond-to(large-screens) {

	}
	@include respond-to(handhelds-and-medium-screens) {

	}
}
