body.contact {
	#masthead-wrapper, .header, footer, .dark-bg {
		background-color: darken($google-salmon, 3%);
	}
	nav.primary {
		a { color: $white; }
		a:hover { color: darken($white, 20%); }
		a:active { color: darken($white, 10%); }
		a.selected, a.selected:visited { background-color: $gray-purple; }
		a.selected:hover { background-color: lighten($gray-purple, 10%); }
		a.selected:active { background-color: darken($gray-purple, 10%); }
	}
	#masthead-wrapper {
		h1, h3 { color: $white; }
	}
	.showcase {
		i { color: $google-salmon; font-size: 1.25em; }
	}
	.guidelines {
		i { margin-right: 10px; }
		h3 {
			margin-top: 0;
			font-size: 1.75em;
			@include respond-to(handhelds-and-medium-screens) { font-size: 1.5em; }
		}
	}
	.contact-details {
		h2 {
			margin-top: 0;
			text-transform: none;
			font-size: 5em;
			line-height: 1em;
			font-weight: 200;
			@include respond-to(large-screens) { font-size: 3.5em; }
			@include respond-to(handhelds-and-medium-screens) { font-size: 3em; }
		}
		i {
			font-size: 4.5em;
			@include respond-to(large-screens) { font-size: 3.5em; }
			@include respond-to(handhelds-and-medium-screens) { font-size: 3em; }
		}
		p { font-size: 1.5em; }
	}
	footer {
		ul.nav {
			a:hover { color: lighten($google-salmon, 5%); }
			a:active { color: lighten($google-salmon, 15%); }
			@include respond-to(large-screens) { 
				a {
					background-color: lighten($google-salmon, 15%);
					color: $google-salmon;
				}
				a:hover { background-color: darken($google-salmon, 5%); }
				a:active { background-color: darken($google-salmon, 10%); }
			}
			@include respond-to(handhelds-and-medium-screens) { 
				a {
					background-color: lighten($google-salmon, 15%);
					color: $google-salmon;
				}
				a:hover { background-color: darken($google-salmon, 20%); }
				a:active { background-color: darken($google-salmon, 10%); }
			}
		}
		a.boompah {
			background: url(/img/contact/logo-circle-footer.png);
		}
		.copyright {
			border-top: 1px solid lighten($google-salmon, 5%);
		}
		.copyright-line { 
			color: lighten($google-salmon, 20%); 
		}
		.social-links, .services {
			a {
				color: lighten($google-salmon, 20%);
				@include transition (all 0.35s ease-in-out);
			}
			a:hover {
				color: darken($google-salmon, 10%);
			}
			a:active {
				color: darken($google-salmon, 20%);
			}
		}
	}
}