* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, a, ul {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 2.5em;
  line-height: 1.5em; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    h1 {
      font-size: 1.75em; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    h1 {
      font-size: 1.5em; } }
  @media only screen and (max-width: 479px) {
    h1 {
      font-size: 1.25em; } }

h2 {
  font-size: 2.25em;
  line-height: 1.5em; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    h2 {
      font-size: 1.75em; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    h2 {
      font-size: 1.5em; } }
  @media only screen and (max-width: 479px) {
    h2 {
      font-size: 1.25em; } }

h3 {
  font-size: 1.5em;
  line-height: 2em; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    h3 {
      font-size: 1.5em; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    h3 {
      font-size: 1.25em; } }
  @media only screen and (max-width: 479px) {
    h3 {
      font-size: 1em; } }

p {
  font-size: .9em; }
  @media only screen and (max-width: 767px) {
    p {
      font-size: .8em; } }

ul, ol {
  font-size: .9em; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    ul, ol {
      font-size: .9em; } }
  @media only screen and (max-width: 767px) {
    ul, ol {
      font-size: .8em; } }

ul li {
  margin-bottom: 20px; }

.container {
  padding: 0 1.2em;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  .container h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    padding: .5em 0; }

#masthead-wrapper {
  padding: 4% 0;
  text-align: center; }
  #masthead-wrapper h1 {
    display: block;
    margin: 5% auto 5%; }
  #masthead-wrapper h3 {
    font-weight: normal; }

.showcase {
  text-align: center;
  padding-bottom: 40px; }
  .showcase .clients {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: left; }
    .showcase .clients:last-child {
      margin-right: 0; }
  .showcase .link-split {
    color: #999999;
    margin: 0 15px; }
  .showcase .row {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    clear: both; }
  .showcase .half {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    text-align: left; }
    .showcase .half:last-child {
      margin-right: 0; }
    @media only screen and (max-width: 767px) {
      .showcase .half {
        width: 100%;
        text-align: center; } }
    .showcase .half p {
      font-family: 'Georgia', serif;
      font-style: italic;
      line-height: 1.75em; }
  .showcase .cta {
    text-transform: uppercase; }
  .showcase a.button {
    margin: .5em 0;
    display: inline-block;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; }
  .showcase .services-points h4, .showcase .services-points ul {
    text-align: left;
    color: white; }
    @media only screen and (max-width: 767px) {
      .showcase .services-points h4, .showcase .services-points ul {
        text-align: center; } }
  .showcase .services-points h4 {
    text-transform: uppercase;
    font-weight: normal; }
  .showcase .services-points ul li a, .showcase .services-points ul li a:link, .showcase .services-points ul li a:visited {
    color: #469fdb; }
  .showcase .services-points ul li a:hover {
    text-decoration: none; }
  .showcase .panel {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .showcase .panel:last-child {
      margin-right: 0; }
    @media only screen and (max-width: 767px) {
      .showcase .panel {
        width: 100%; } }

.dark-bg h2 {
  color: white; }

.light-bg h3 {
  text-transform: uppercase; }

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: #3b5998;
  font-weight: normal; }

a:hover {
  text-decoration: underline; }

a.button {
  font-size: 1em;
  padding: 1em 3em;
  background-color: #3b5998;
  color: white; }
  @media only screen and (max-width: 767px) {
    a.button {
      font-size: .9em; } }

a.button, a.button:link, a.button:visited, a.button:hover {
  text-decoration: none; }

/* Miscellaneous Helpers */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px; }

.image-placeholder {
  background-color: #e4e7ee;
  border: 1px solid #aab2bf;
  height: 200px; }

@media only screen and (max-width: 767px) {
  .hidden-mobile {
    display: none; } }
.show-mobile {
  display: none; }
  @media only screen and (max-width: 767px) {
    .show-mobile {
      display: inline; } }

/* Reusable Containers */
.one-fourth {
  margin-right: 5%;
  float: left; }

.one-fourth.last {
  margin-right: 0; }

.one-fourth {
  width: 21%;
  text-align: left; }

.logo-boompah-circle-landing {
  height: auto; }
  @media only screen and (max-width: 767px) {
    .logo-boompah-circle-landing {
      margin: 1.25em 0 .5em 0; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .logo-boompah-circle-landing {
      width: 200px; } }
  @media only screen and (max-width: 479px) {
    .logo-boompah-circle-landing {
      width: 150px; } }

body.home ::selection {
  background: #CC0000;
  /* Safari */
  color: white; }
body.home ::-moz-selection {
  background: #CC0000;
  /* Firefox */
  color: white; }
body.home #masthead-wrapper, body.home #header, body.home footer, body.home .dark-bg {
  background-color: #232333; }
body.home .light-bg {
  background-color: #e4e7ee;
  border-top: 1px solid #aab2bf;
  border-bottom: 1px solid #aab2bf; }
body.home #masthead-wrapper h1 {
  color: #a5a5ce;
  font-weight: normal; }
body.home #masthead-wrapper h3 {
  color: #797999; }
body.home #header {
  border-bottom: 2px solid #393951; }
  body.home #header nav.primary a {
    color: #7070ba; }
  body.home #header nav.primary a.selected, body.home #header nav.primary a.selected:visited {
    background-color: #38384f; }
body.home .usability-research h3 {
  margin-top: 1.5em; }
body.home .usability-research p {
  margin-bottom: 4em; }
body.home .usability-research p.last {
  margin-bottom: 0; }
body.home .usability-research p.intro {
  margin: 0;
  line-height: 2em; }
@media only screen and (max-width: 767px) {
  body.home .services-points h3, body.home .services-points ul {
    list-style: none;
    text-align: center; }
  body.home .services-points ul {
    list-style: none;
    padding-left: 0; } }
body.home footer .services a {
  color: #595996; }
body.home footer a.boompah {
  background: url(/assets/images/logo-circle-footer-home.png); }
body.home footer .copyright {
  border-top: 1px solid #41415b; }
  body.home footer .copyright p {
    margin-top: 3em;
    color: #41415b; }
  body.home footer .copyright a {
    color: #41415b; }

#logo-circle {
  margin: auto;
  min-width: 300px;
  max-width: 400px; }

#logo-circle object {
  width: 100%;
  min-height: 440px; }

.clients ul {
  padding-left: 0;
  list-style: none; }

#header {
  height: 6.75em; }
  @media only screen and (max-width: 767px) {
    #header {
      height: 4em; } }

.mobile-nav {
  float: right;
  font-size: 2em;
  margin: 1em .5em 0 0;
  display: none; }
  @media only screen and (max-width: 767px) {
    .mobile-nav {
      display: inline;
      margin: .75em 0 0 0;
      font-size: 1.5em; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .mobile-nav {
      display: inline; } }
  .mobile-nav:hover {
    text-decoration: none; }

footer {
  padding: 3em 0; }
  footer ul {
    float: left;
    padding-left: 0;
    margin-left: 10%;
    list-style: none;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      footer ul {
        margin-left: 6%; } }
    footer ul li a, footer ul li a:link, footer ul li a:visited {
      font-size: .9em; }
  @media only screen and (max-width: 767px) {
    footer ul.nav {
      margin-left: 0;
      width: 100%; }
      footer ul.nav a {
        width: 100%;
        padding: 1em 0;
        text-align: center;
        display: block;
        background-color: #e4e7ee;
        color: #232333;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; } }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    footer ul.nav {
      margin-left: 0;
      width: 100%; }
      footer ul.nav a {
        width: 100%;
        padding: 1em 0;
        text-align: center;
        display: block;
        background-color: #e4e7ee;
        color: #232333;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; } }
  footer a, footer a:link, footer a:visited {
    color: white; }
  footer a:hover {
    text-decoration: none; }
  footer a.boompah {
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    float: left; }
  footer .copyright {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    margin-top: 1em; }
    footer .copyright:last-child {
      margin-right: 0; }
    footer .copyright ul.social-links {
      float: right; }
      footer .copyright ul.social-links li {
        float: right;
        margin-left: 1em; }
        footer .copyright ul.social-links li a, footer .copyright ul.social-links li a:link, footer .copyright ul.social-links li a:visited {
          font-size: 2em; }
      @media only screen and (max-width: 767px) {
        footer .copyright ul.social-links {
          float: none;
          margin-left: 3em;
          width: 60%;
          font-size: 1.25em; } }
    footer .copyright p, footer .copyright ul {
      margin-top: 3em; }
    footer .copyright p {
      float: left; }
      @media only screen and (max-width: 767px) {
        footer .copyright p {
          float: none;
          text-align: center; } }

nav.primary {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  nav.primary:before, nav.primary:after {
    content: " ";
    display: table; }
  nav.primary:after {
    clear: both; }
  nav.primary a.boompah {
    display: block;
    float: left;
    margin-top: 2.25em;
    height: auto; }
    @media only screen and (max-width: 767px) {
      nav.primary a.boompah {
        margin-top: 1.25em; } }
    @media only screen and (max-width: 767px) {
      nav.primary a.boompah img {
        width: 120px; } }
  nav.primary ul {
    margin-top: 45px;
    float: right;
    list-style: none; }
    @media only screen and (max-width: 767px) {
      nav.primary ul {
        display: none; } }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      nav.primary ul {
        display: none; } }
    nav.primary ul li {
      float: left;
      margin-left: 30px; }
      nav.primary ul li a {
        text-transform: uppercase;
        font-size: .9em; }
      nav.primary ul li a:hover {
        text-decoration: none; }
      nav.primary ul li a.selected {
        padding: 10px 25px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px; }

/* SASS Notes
	
	Compile SASS
	sass --watch assets/stylesheets/base.scss:public/stylesheets/styles.css
	
	Bourbon
	$ bourbon help
	$ bourbon update

*/
