body.contact {
	#masthead-wrapper, #header, footer, .dark-bg {
		background-color: $ruby-red;
	}
	#header{
		border-bottom: 2px solid lighten($ruby-red, 15%);
	}
	nav.primary {
		a { color: $white; }
		a:hover { color: darken($white, 20%); }
		a:active { color: darken($white, 10%); }
		a.selected, a.selected:visited { background-color: $gray-purple; }
		a.selected:hover { background-color: lighten($gray-purple, 10%); }
		a.selected:active { background-color: darken($gray-purple, 10%); }
	}
	#masthead-wrapper {
		h1, h3 { color: $white; }
	}
	.showcase {
		i { color: $ruby-red; font-size: 1.25em; }
	}
	.guidelines {
		i { margin-right: 10px; }
		h3 {
			margin-top: 0;
			font-size: 1.75em;
		}
	}
	.contact-details {
		h2 {
			margin-top: 0;
			text-transform: none;
			font-size: 5em;
			line-height: 1em;
			font-weight: 200;
			@include respond-to(large-screens) { font-size: 3.5em; }
			@include respond-to(handhelds-and-medium-screens) { font-size: 3em; }
		}
		i {
			font-size: 4.5em;
			@include respond-to(large-screens) { font-size: 3.5em; }
			@include respond-to(handhelds-and-medium-screens) { font-size: 3em; }
		}
		p { font-size: 1.5em; }
	}
	footer {
		ul.nav {
			@include respond-to(large-screens) { 
				a {
					background-color: lighten($ruby-red, 15%);
					color: $ruby-red;
				}
				a:hover { background-color: darken($ruby-red, 20%); }
				a:active { background-color: darken($ruby-red, 10%); }
			}
			@include respond-to(handhelds-and-medium-screens) { 
				a {
					background-color: lighten($ruby-red, 15%);
					color: $ruby-red;
				}
				a:hover { background-color: darken($ruby-red, 20%); }
				a:active { background-color: darken($ruby-red, 10%); }
			}
		}
		a.boompah {
			background: url(/assets/images/contact/logo-circle-footer.png);
		}
		.copyright {
			border-top: 1px solid lighten($ruby-red, 15%);
		}
		.copyright-line { 
			color: lighten($ruby-red, 25%); 
		}
	}
}