body.home {
	#masthead-wrapper, #header, footer, .dark-bg {
		background-color: $dark-blue;
	}
	
	.light-bg {
		background-color: $light-blue;
		border-top: 1px solid $light-blue-border;
		border-bottom: 1px solid $light-blue-border;
	}
	
	#masthead-wrapper {
		h1 {	
			color: #a5a5ce;
			font-weight: normal;
		}

		h3 {
			color: #797999;
		}
	} // masthead-wrapper
	
	#header{
		border-bottom: 2px solid #393951;
		
		nav.primary {
			a {
				color: #7070ba;
				}
			a.selected, a.selected:visited {
				background-color: #38384f;
			}
		} // nav.primary
	} // #header
	
	.usability-research {
		h3 { 
			margin-top: 1.5em;
		}
		
		p {
			margin-bottom: 4em;
		}
		
		p.last {
			margin-bottom: 0;
		}
		
		p.intro {
			margin: 0;
			line-height: 2em;
		}
		
	} // usability-research
	
	footer {
		
		.services a {
			color: #595996;
		}
		
		a.boompah {
			background: url(/assets/images/logo-circle-footer-home.png);
		}
		
		.copyright {
			border-top: 1px solid #41415b;
			
			p {
				margin-top: 3em;
				color: #41415b;
			}
			
			a {
				color: #41415b;
			}
			
		} // copyright
	} // footer
} // body.home

#logo-circle {
	margin: auto;
	min-width: 300px;
	max-width: 400px;
}

#logo-circle object {
	width: 100%;
	min-height: 440px;
}

.clients {
	ul {
		padding-left: 0;
		list-style: none;
	} 
} // showcase.clients