body.home {
	
	#masthead-wrapper, #header, footer, .dark-bg {
		background-color: $dark-blue;
	}
	
	.light-bg {
		background-color: $light-blue;
		border-top: 1px solid $light-blue-border;
		border-bottom: 1px solid $light-blue-border;
	}
	
	#masthead-wrapper {
		h1 {	
			color: $light-purple;
		}

		h3 {
			color: $secondary-purple;
		}
	} 
	
	#header{
		border-bottom: 2px solid $medium-purple;
	} 
	
	nav.primary {
		a { color: $soft-purple; }
		a:hover { color: lighten($soft-purple, 10%); }
		a:active { color: darken($soft-purple, 10%); }
		a.selected, a.selected:visited { background-color: $gray-purple; }
		a.selected:hover { background-color: lighten($gray-purple, 10%); }
		a.selected:active { background-color: darken($gray-purple, 10%); }
	} 
	
	.usability-research {
		p { margin-bottom: 3em; }
		h3 { margin-top: 1.5em; }
		h4 {  }
		p.last { margin-bottom: 0; }
		
	}
	
	.services-points {
		h4 {
			text-transform: uppercase;
			font-weight: normal;
		}
		
		h4, ul {
			text-align: left;
			color: $white;
			@include respond-to(handhelds-and-medium-screens) {
				text-align: center;
			}
		}
		
		ul {
			@include respond-to(handhelds-and-medium-screens) {
				list-style: none;
				padding-left: 0;
			}
			li {				
				a, a:link, a:visited {
					color: $hot-blue;
					@include transition (all 0.35s ease-in-out);
				}
				a:hover {
					text-decoration: none;
					color: darken($hot-blue, 20%);
				}
				a:active {
					color: lighten($hot-blue, 10%);
				}
			} // li
		} // ul
	} // services-points

	/* Featured Work */

	.featured-work {
		.panel-block {
			border: 1px solid lighten($black, 85%);
			background-color: $white;
		}
		.panel-block.two-m-two {
			background-color: $black;
			border: 1px solid $black;
		}
	}

	/* Testimonials */
	.testimonials {

	}

	/* Clients */
	.gray-bg {
		border-top: 1px solid lighten($black, 85%);
	}

	.clients {
		ul {
			li{
				margin-bottom: 20px;
				a{
					background-color: $black;
					&:hover { background-color: lighten($black, 30%); }

					padding: .5em 1em;
					color: $white;
					display: block;
					text-decoration: none;

					@include border-top-radius(6px);
					@include border-bottom-radius(6px);
					@include border-left-radius(6px);
					@include border-right-radius(6px);

					@include transition (all 0.35s ease-in-out);
						
						i { float: right; font-size: 1.25em; }
				}

				.royal-blue { background-color: $royal-blue; }				
				.royal-blue:hover { background-color: lighten($royal-blue, 15%); }
				.royal-blue:active { background-color: lighten($royal-blue, 5%); }

				.baby-blue__bg { background-color: $baby-blue; }
				.baby-blue__bg:hover { background-color: darken($baby-blue, 10%); }
				.baby-blue__bg:active { background-color: lighten($baby-blue, 5%); }

				.orange { background-color: $orange; }
				.orange:hover { background-color: darken($orange, 10%); }
				.orange:active { background-color: lighten($orange, 5%); }

				.hollywoodpq { background-color: $hollywood-pink; }
				.hollywoodpq:hover { background-color: darken($hollywood-pink, 10%); }
				.hollywoodpq:active { background-color: lighten($hollywood-pink, 5%); }
				
				.fellerath { background-color: $fellerath-red; }
				.fellerath:hover { background-color: lighten($fellerath-red, 10%); }
				.fellerath:active { background-color: lighten($fellerath-red, 20%); }

				.fbs { background-color: $fbs-blue; }
				.fbs:hover { background-color: darken($fbs-blue, 10%); }
				.fbs:active { background-color: darken($fbs-blue, 20%); }

				.pente-group,
				.edison-nation { background-color: $red; }
				
				.edison-nation:hover,
				.pente-group:hover { background-color: darken($red, 10%); }

				.edison-nation:active,
				.pente-group:active { background-color: lighten($red, 5%); }
				
				.tungle-me { background-color: $tungle-green; }
				.tungle-me:hover { background-color: darken($tungle-green, 10%); }
				.tungle-me:active { background-color: darken($tungle-green, 20%); }

				.field-turf { background-color: $fieldturf-green; }
				.field-turf:hover { background-color: lighten($fieldturf-green, 10%); }
				.field-turf:active { background-color: lighten($fieldturf-green, 20%); }

				.diamond { background-color: $diamond-purple; }
				.diamond:hover { background-color: lighten($diamond-purple, 10%); }
				.diamond:active { background-color: lighten($diamond-purple, 20%); }

				.reitmans { background-color: $reitmans-gray; }
				.reitmans:hover { background-color: darken($reitmans-gray, 10%); }
				.reitmans:active { background-color: darken($reitmans-gray, 20%); }

				.osm { background-color: $osm-blue; }
				.osm:hover { background-color: lighten($osm-blue, 10%); }
				.osm:active { background-color: lighten($osm-blue, 20%); }

				.ybp { background-color: $ybp-teal; color: $black; }
				.ybp:hover { background-color: darken($ybp-teal, 15%); }
				.ybp:active { background-color: lighten($ybp-teal, 10%); }

				.j3concepts { background-color: $j3concepts-purple; }
				.j3concepts:hover { background-color: lighten($j3concepts-purple, 10%); }
				.j3concepts:active { background-color: lighten($j3concepts-purple, 20%); }
			}
		}
	}

	footer {
		a { @include transition (all 0.35s ease-in-out); }
		.services a { color: $soft-purple; }
		.services a:hover { color: lighten($soft-purple, 10%); }
		.services a:active { color: darken($soft-purple, 10%); }
		
		a.boompah {
			background: url(/assets/images/home/logo-circle-footer.png);
		}
		
		.copyright {
			border-top: 1px solid $medium-purple;
			
			a {
				color: $secondary-purple;
			}
			a:hover { color: lighten($secondary-purple, 10%); }
			a:active { color: darken($secondary-purple, 10%); }
		} // copyright

		.copyright-line { 
			color: $subtle-purple; 
		}
		
		ul.social-links {
			li {
				a, a:link, a:visited {
					color: $light-purple;
					&:hover { color: darken($light-purple, 20%); }
					&:active { color: darken($light-purple, 10%); }
				}
			}
		}

	} // footer
} // body.home

#logo-circle {
	margin: auto;
	min-width: 300px;
	max-width: 400px;
}

#logo-circle object {
	width: 100%;
	min-height: 440px;
}

.clients {
	ul {
		padding-left: 0;
		list-style: none;
	} 
} // showcase.clients