.btn {
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

a.btn-soft-purple,
a.btn-soft-purple:link,
a.btn-soft-purple:visited {
  background-color: $btn-soft-purple;
  color: $white;
}

a.btn.btn-cta {
  padding: 5px 20px;
  i {
    margin-left: 15px;
  }
}

a.btn-cta {
  font-size: 1.25em;
}