@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.work-project.work-project-right .work-project-image {
  float: right; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .work-project.work-project-right .work-project-image {
      float: none; } }
  @media only screen and (max-width: 767px) {
    .work-project.work-project-right .work-project-image {
      float: none; } }
.work-project.work-project-right .cta-circle {
  margin-right: 10px; }
.work-project.work-project-left .work-project-content {
  float: right; }
.work-project.work-project-left .work-project-image {
  float: left; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .work-project.work-project-left .work-project-image {
      float: none; } }
  @media only screen and (max-width: 767px) {
    .work-project.work-project-left .work-project-image {
      float: none; } }
.work-project.work-project-left h2, .work-project.work-project-left p, .work-project.work-project-left a {
  text-align: right; }
.work-project.work-project-left a.view-project {
  float: right; }
.work-project.work-project-left .cta-circle {
  margin-right: 10px; }
.work-project .work-project-content {
  margin-top: 120px;
  color: #FFF;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .work-project .work-project-content:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .work-project .work-project-content {
      width: 80%;
      margin-top: 20px; } }
  @media only screen and (max-width: 767px) {
    .work-project .work-project-content {
      margin-top: 20px;
      width: 100%; } }
.work-project a.view-project {
  color: #FFF; }
  .work-project a.view-project .cta-circle {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    color: #FFF;
    float: left;
    text-align: center;
    padding-top: 7px; }
  .work-project a.view-project span {
    position: relative;
    top: 5px;
    left: 2px; }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      .work-project a.view-project span {
        float: left; } }
    @media only screen and (max-width: 767px) {
      .work-project a.view-project span {
        float: left; } }
  .work-project a.view-project:hover {
    text-decoration: none;
    color: #FB9C44; }
    .work-project a.view-project:hover .cta-circle {
      border: 1px solid #FB9C44;
      color: #FB9C44; }
.work-project .work-project-image {
  margin-top: 120px;
  width: 400px;
  height: 320px; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .work-project .work-project-image {
      margin-top: 40px; } }
  @media only screen and (max-width: 767px) {
    .work-project .work-project-image {
      margin-top: 40px;
      width: 80%;
      height: auto;
      max-width: 400px;
      max-height: 500px; } }
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .work-project {
    text-align: center; } }
@media only screen and (max-width: 767px) {
  .work-project {
    text-align: center; } }
.work-project h2, .work-project p {
  font-family: "Lato", sans-serif;
  text-align: left; }
.work-project h2 {
  font-size: 3em;
  padding: 10px 0;
  font-weight: 100; }
.work-project p, .work-project a {
  font-size: 1.35em;
  font-weight: 200;
  line-height: 1.75em; }
.work-project.twiddy {
  border-top: 1px solid #DA1C5C;
  min-height: 600px;
  background: url("/img/home/portfolio/01-twiddy-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.work-project.instagram-artwork {
  border-top: 1px solid #FB9C44;
  min-height: 600px;
  background: url("/img/home/portfolio/01-twiddy-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.we-have-worked-with {
  background-color: #f2f2f2; }
  @media only screen and (max-width: 767px) {
    .we-have-worked-with {
      display: none; } }
  .we-have-worked-with h2 {
    padding: 40px 0 20px 0; }

.contact-project-details h2 {
  padding: 40px 0; }

body {
  margin: 0;
  padding: 0;
  color: #191919; }
  body ::selection {
    background: #000;
    /* Safari */
    color: #DA1C5C; }
  body ::-moz-selection {
    background: #000;
    /* Firefox */
    color: #DA1C5C; }

.page-border {
  padding: 10px;
  background-color: #DA1C5C;
  background-image: -webkit-linear-gradient(-450deg, #DA1C5C, #FB9C44);
  background-image: linear, 180deg, #DA1C5C, #FB9C44; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .page-border {
      padding: 6px; } }
  @media only screen and (max-width: 767px) {
    .page-border {
      padding: 4px; } }

.content-wrap {
  background-color: #FFF; }

ul.menu {
  font-size: 18px; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    ul.menu {
      font-size: .9em; } }
  @media only screen and (max-width: 767px) {
    ul.menu {
      font-size: .8em; } }

ul li {
  margin-bottom: 20px; }

.container {
  padding: 0 1.2em;
  position: relative;
  z-index: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-align: left; }
  .half:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 767px) {
    .half {
      width: 100%; } }

#masthead-wrapper {
  padding: 40px 0 60px 0;
  text-align: center; }
  #masthead-wrapper h1 {
    margin: 0;
    display: block;
    font-weight: 200;
    letter-spacing: 2px; }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      #masthead-wrapper h1 {
        font-size: 7em; } }
    @media only screen and (max-width: 767px) {
      #masthead-wrapper h1 {
        font-size: 3em;
        text-align: left; } }
  #masthead-wrapper h3 {
    font-weight: 200;
    font-size: 1.75em;
    line-height: 1.5em; }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      #masthead-wrapper h3 {
        font-size: 1.75em; } }
    @media only screen and (max-width: 767px) {
      #masthead-wrapper h3 {
        font-size: 1.25em;
        text-align: left; } }

a, a:link, a:visited {
  text-decoration: none;
  color: #DA1C5C;
  outline: none; }

a:hover {
  text-decoration: underline; }

a.button, a.button:link, a.button:visited, a.button:hover {
  text-decoration: none; }

a.button, a.button:visited {
  font-size: 1em;
  padding: 1em 3em;
  background-color: #3b5998;
  color: #FFF;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }
  @media only screen and (max-width: 767px) {
    a.button, a.button:visited {
      font-size: .9em; } }

a.button:hover {
  background-color: #4c70ba; }

a.button:active {
  background-color: #2d4373; }

.showcase {
  text-align: center;
  padding-bottom: 40px; }
  .showcase .clients {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: left; }
    .showcase .clients:last-child {
      margin-right: 0; }
  .showcase .link-split {
    color: #999999;
    margin: 0 15px; }
  .showcase .row {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    clear: both; }
  .showcase .cta {
    text-transform: uppercase; }
  .showcase a.button {
    margin: .5em 0;
    display: inline-block;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; }
  .showcase .panel {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .showcase .panel:last-child {
      margin-right: 0; }
    @media only screen and (max-width: 767px) {
      .showcase .panel {
        width: 100%; } }

.page-toggle {
  background-color: #000; }
  .page-toggle h2 {
    color: #FFF;
    font-weight: 200;
    margin: 10px 0 0 0; }
  .page-toggle .left, .page-toggle .right {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .page-toggle .left:last-child, .page-toggle .right:last-child {
      margin-right: 0; }
  .page-toggle .left h2 {
    text-align: right;
    padding-right: 20px; }
  .page-toggle .left .arrow-up {
    float: right;
    margin-right: 18%; }
    @media only screen and (max-width: 767px) {
      .page-toggle .left .arrow-up {
        margin-right: 30%; } }
  .page-toggle .right h2 {
    text-align: left; }
  .page-toggle .right .arrow-up {
    float: left;
    margin-left: 15%; }
  .page-toggle .selected {
    font-weight: 500; }
  .page-toggle a {
    text-decoration: none; }
  .page-toggle .arrow-up {
    width: 0;
    height: 0;
    clear: both;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #FFF; }

.dark-bg h2 {
  color: #FFF; }

.gray-bg {
  background-color: #f2f2f2; }

/* Miscellaneous Helpers */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px; }

.panel-block {
  background-color: #e4e7ee;
  border: 1px solid #aab2bf;
  height: 202px;
  text-align: center; }

@media only screen and (max-width: 767px) {
  .hidden-mobile {
    display: none; } }
.show-mobile {
  display: none; }
  @media only screen and (max-width: 767px) {
    .show-mobile {
      display: inline; } }

/* Reusable Containers */
.one-fourth {
  margin-right: 5%;
  float: left; }

.one-fourth.last {
  margin-right: 0; }

.one-fourth {
  width: 21%;
  text-align: left; }

.logo-boompah-circle-landing {
  height: auto; }
  @media only screen and (max-width: 767px) {
    .logo-boompah-circle-landing {
      margin: 1.25em 0 .5em 0; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .logo-boompah-circle-landing {
      width: 200px; } }
  @media only screen and (max-width: 479px) {
    .logo-boompah-circle-landing {
      width: 150px; } }

.full-content {
  padding-bottom: 40px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .full-content:last-child {
    margin-right: 0; }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */ }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */ }

a.btn-default, a.btn-cta {
  padding: 5px 20px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 1.25em; }
  a.btn-default:hover, a.btn-cta:hover {
    background-color: #FB9C44;
    border: 1px solid #FB9C44;
    color: #FFF;
    text-decoration: none; }
  a.btn-default i, a.btn-cta i {
    margin-left: 15px; }

a.btn-cta {
  border: 1px solid #FB9C44;
  color: #FB9C44; }

footer ul {
  list-style: none;
  padding-left: 0; }
footer h5 {
  margin-top: 0;
  font-size: 1.25em; }
footer h5, footer p {
  color: #7F7C7C;
  font-weight: 200; }
footer .top-wrap {
  padding: 60px 0;
  background: url(/img/footer/black_lozenge/black_lozenge.png) #2B2B2B; }
footer .made-in-manitoba,
footer .we-are-passionate,
footer .want-more,
footer .socialize {
  text-align: center;
  height: 320px;
  padding-top: 40px; }
  @media only screen and (max-width: 767px) {
    footer .made-in-manitoba,
    footer .we-are-passionate,
    footer .want-more,
    footer .socialize {
      text-align: left;
      height: auto;
      padding-top: 10px; } }
footer .made-in-manitoba,
footer .we-are-passionate {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  footer .made-in-manitoba:last-child,
  footer .we-are-passionate:last-child {
    margin-right: 0; }
  footer .made-in-manitoba h5, footer .made-in-manitoba p,
  footer .we-are-passionate h5,
  footer .we-are-passionate p {
    margin: 0 20px 0 0; }
    @media only screen and (max-width: 767px) {
      footer .made-in-manitoba h5, footer .made-in-manitoba p,
      footer .we-are-passionate h5,
      footer .we-are-passionate p {
        margin-right: 0;
        text-align: left; } }
  footer .made-in-manitoba a, footer .made-in-manitoba a:link, footer .made-in-manitoba a:visited,
  footer .we-are-passionate a,
  footer .we-are-passionate a:link,
  footer .we-are-passionate a:visited {
    color: #7F7C7C;
    text-decoration: underline; }
  @media only screen and (max-width: 767px) {
    footer .made-in-manitoba,
    footer .we-are-passionate {
      display: block;
      float: none;
      width: 100%; } }
footer .made-in-manitoba {
  border-right: 1px solid #2f2f2f; }
  @media only screen and (max-width: 767px) {
    footer .made-in-manitoba {
      border-right: none; } }
footer .we-are-passionate {
  border-right: 1px solid #2f2f2f; }
  @media only screen and (max-width: 767px) {
    footer .we-are-passionate {
      border-right: none; } }
footer .want-more,
footer .socialize {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  footer .want-more:last-child,
  footer .socialize:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 767px) {
    footer .want-more,
    footer .socialize {
      margin-top: 40px;
      width: 40%; } }
footer .socialize {
  border-left: 1px solid #2f2f2f; }
  @media only screen and (max-width: 767px) {
    footer .socialize {
      border-left: none; } }
footer .bottom {
  background-color: #DA1C5C;
  text-align: center;
  padding: 30px 0 20px 0; }
  footer .bottom .square-boompah-logo {
    width: 60px;
    height: 50px; }
footer .home-icon {
  display: none; }
footer a, footer a:link, footer a:visited {
  color: #FFF; }
footer a:hover {
  text-decoration: none;
  color: #cc1514; }

header.primary-nav .boompah-logo {
  position: relative;
  top: 90px;
  left: 70px;
  float: left; }
  @media only screen and (max-width: 767px) {
    header.primary-nav .boompah-logo {
      width: 130px;
      height: auto;
      top: 20px;
      left: 20px; } }
  header.primary-nav .boompah-logo img {
    width: 168px;
    height: 40px; }

.button_container {
  position: fixed;
  top: 100px;
  right: 80px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease; }
  @media only screen and (max-width: 767px) {
    .button_container {
      top: 20px;
      right: 20px; } }

.button_container:hover {
  opacity: .7; }

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  -ms-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF; }

.button_container.active .middle {
  opacity: 0;
  background: #FFF; }

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
  -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF; }

.button_container span {
  background: #DA1C5C;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer; }

.button_container span:nth-of-type(2) {
  top: 11px; }

.button_container span:nth-of-type(3) {
  top: 22px; }

.overlay {
  position: fixed;
  z-index: 2;
  background: #DA1C5C;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; }

.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%; }

.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
  animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s; }

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s; }

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
  animation-delay: .50s; }

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center; }

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%; }

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(70% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0; }

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden; }

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%; }

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s; }

.overlay .social a {
  display: inline-block;
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.25em; }
  .overlay .social a:hover {
    text-decoration: none; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }
p.if-test {
  color: red; }

.fortest-1 {
  width: 1.5em; }

.fortest-2 {
  width: 3em; }

.fortest-3 {
  width: 4.5em; }

.fortest-4 {
  width: 6em; }

.fortest-5 {
  width: 7.5em; }

.cat-icon {
  background-image: url("/images/cat.png"); }

.dog-icon {
  background-image: url("/images/dog.png"); }

.fish-icon {
  background-image: url("/images/fish.png"); }

.bird-icon {
  background-image: url("/images/bird.png"); }

.item-8 {
  width: 24em; }

.item-6 {
  width: 18em; }

.item-4 {
  width: 12em; }

.item-2 {
  width: 6em; }

table {
  border-collapse: collapse;
  width: 100%; }

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc; }

tbody tr:nth-child(odd) {
  background: #eee; }

.italic {
  font-style: italic; }

.bold {
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-bottom: 0; }

h1 {
  font-size: 3.25em;
  font-weight: 200;
  line-height: 1.25em; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    h1 {
      font-size: 2em; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    h1 {
      font-size: 1.75em; } }
  @media only screen and (max-width: 479px) {
    h1 {
      font-size: 1.5em; } }

h2 {
  margin: 0;
  font-size: 3em;
  line-height: 1.5em; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    h2 {
      font-size: 1.75em; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    h2 {
      font-size: 1.5em; } }
  @media only screen and (max-width: 479px) {
    h2 {
      font-size: 1.25em; } }

h3 {
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1em; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    h3 {
      font-size: 1.5em; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    h3 {
      font-size: 1.25em; } }
  @media only screen and (max-width: 479px) {
    h3 {
      font-size: 1.25em; } }

h4 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1em;
  margin: 40px 0 10px 0; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    h4 {
      font-size: 1.25em; } }
  @media only screen and (max-width: 767px) {
    h4 {
      font-size: 1.15em; } }

h5 {
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1em; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    h5 {
      font-size: 1em; } }
  @media only screen and (max-width: 767px) {
    h5 {
      font-size: 1em; } }

p, ul, ol, span {
  font-size: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 300; }

a {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

a {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }

.text-center {
  text-align: center; }

.light-base-header {
  color: #e5e5e5; }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’"; }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p {
  display: inline; }

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+scss+ruby */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.regex,
.token.important {
  color: #e90; }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }

body.about {
  /* Testimonials */ }
  body.about #masthead-wrapper, body.about .dark-bg {
    background-color: #000;
    min-height: 600px; }
  body.about #masthead-wrapper h1 {
    color: #DA1C5C;
    margin-top: 120px; }
  body.about #masthead-wrapper h3 {
    color: #FFF; }
  body.about .container.showcase {
    padding: 40px 20px; }
    body.about .container.showcase .profile-photo {
      text-align: center; }
    body.about .container.showcase img {
      margin: 20px 0; }
      @media only screen and (max-width: 767px) {
        body.about .container.showcase img {
          width: 40%;
          float: none; } }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        body.about .container.showcase img {
          width: 50%; } }
      @media only screen and (max-width: 479px) {
        body.about .container.showcase img {
          width: 80%; } }
    body.about .container.showcase .main-name {
      font-size: 3em;
      font-weight: 300;
      margin-bottom: 0; }
      @media only screen and (min-width: 768px) and (max-width: 959px) {
        body.about .container.showcase .main-name {
          font-size: 4.5em; } }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        body.about .container.showcase .main-name {
          font-size: 3em; } }
      @media only screen and (max-width: 479px) {
        body.about .container.showcase .main-name {
          font-size: 2em; } }
      @media only screen and (max-width: 767px) {
        body.about .container.showcase .main-name {
          text-align: center; } }
      @media only screen and (max-width: 767px) {
        body.about .container.showcase .main-name br {
          display: none; } }
    body.about .container.showcase .main-name {
      padding: 0; }
  @media only screen and (max-width: 767px) {
    body.about .testimonials h2, body.about .testimonials p, body.about .testimonials h4 {
      text-align: left; } }

.timeline-bar {
  background-color: #f2f2f2;
  clear: both;
  text-align: left;
  color: #DA1C5C;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; }
  .timeline-bar h3, .timeline-bar span, .timeline-bar p {
    font-weight: 500; }
  .timeline-bar h3 {
    padding: 12px 0; }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      .timeline-bar h3 {
        height: 46px; } }
    @media only screen and (max-width: 767px) {
      .timeline-bar h3 {
        padding: 0 8px; } }
  .timeline-bar .date {
    width: 5em;
    margin-right: .5em;
    text-align: center;
    display: block;
    float: left;
    background-color: #000;
    color: #FFF;
    font-weight: 200;
    font-size: 38px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      .timeline-bar .date {
        font-size: 30px; } }
    @media only screen and (max-width: 767px) {
      .timeline-bar .date {
        width: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: 22px; } }
  .timeline-bar i {
    margin: 0px 20px 0 0;
    float: right; }
    @media only screen and (max-width: 767px) {
      .timeline-bar i {
        display: none; } }

@media only screen and (max-width: 767px) {
  .timeline h3 {
    margin-top: 0; } }

a.timeline-bar {
  text-decoration: none; }

.timeline-bar.highlight-toggle {
  background-color: #DA1C5C;
  color: #FFF; }

.timeline-bar.highlight-toggle-dark {
  background-color: #000;
  color: #DA1C5C; }

.about-profile-photo {
  border-radius: 50%; }

body.bitcoin .main-content {
  text-align: center; }
body.bitcoin img.bitcoin-circle {
  margin-top: 40px; }

body.contact #masthead-wrapper, body.contact .dark-bg {
  background-color: #000;
  min-height: 600px; }
body.contact #masthead-wrapper h1 {
  margin-top: 120px;
  color: #DA1C5C; }
body.contact #masthead-wrapper h3 {
  color: #FFF; }
body.contact .showcase i {
  color: #DA1C5C;
  font-size: 1.25em; }
body.contact .guidelines i {
  margin-right: 10px; }
body.contact .guidelines h3 {
  margin-top: 0;
  font-size: 1.75em; }
  @media only screen and (max-width: 767px) {
    body.contact .guidelines h3 {
      font-size: 1.5em; } }
@media only screen and (max-width: 767px) {
  body.contact .guidelines h2, body.contact .guidelines h3, body.contact .guidelines p {
    text-align: left; } }
body.contact .contact-details h2 {
  margin-top: 0;
  text-transform: none;
  font-size: 5em;
  line-height: 1em;
  font-weight: 200; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    body.contact .contact-details h2 {
      font-size: 3.5em; } }
  @media only screen and (max-width: 767px) {
    body.contact .contact-details h2 {
      font-size: 3em; } }
body.contact .contact-details i {
  font-size: 4.5em; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    body.contact .contact-details i {
      font-size: 3.5em; } }
  @media only screen and (max-width: 767px) {
    body.contact .contact-details i {
      font-size: 3em; } }
body.contact .contact-details p {
  font-size: 1.5em; }

body.cv .profile-info {
  text-align: center; }

body.home,
body.single.single-post,
.winnipeg-web-design,
.work,
.cv {
  /* Featured Work */ }
  body.home .masthead-wrapper,
  body.single.single-post .masthead-wrapper,
  .winnipeg-web-design .masthead-wrapper,
  .work .masthead-wrapper,
  .cv .masthead-wrapper {
    background-color: #000;
    height: 620px;
    background: url("/img/home/01-feature-graphic.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    body.home .masthead-wrapper a,
    body.single.single-post .masthead-wrapper a,
    .winnipeg-web-design .masthead-wrapper a,
    .work .masthead-wrapper a,
    .cv .masthead-wrapper a {
      margin: 0 10px 20px 0; }
  body.home .light-bg,
  body.single.single-post .light-bg,
  .winnipeg-web-design .light-bg,
  .work .light-bg,
  .cv .light-bg {
    background-color: #e4e7ee;
    border-top: 1px solid #aab2bf;
    border-bottom: 1px solid #aab2bf; }
  body.home .masthead-wrapper h1, body.home .masthead-wrapper h3,
  body.single.single-post .masthead-wrapper h1,
  body.single.single-post .masthead-wrapper h3,
  .winnipeg-web-design .masthead-wrapper h1,
  .winnipeg-web-design .masthead-wrapper h3,
  .work .masthead-wrapper h1,
  .work .masthead-wrapper h3,
  .cv .masthead-wrapper h1,
  .cv .masthead-wrapper h3 {
    color: #FFF; }
  body.home .masthead-wrapper h1,
  body.single.single-post .masthead-wrapper h1,
  .winnipeg-web-design .masthead-wrapper h1,
  .work .masthead-wrapper h1,
  .cv .masthead-wrapper h1 {
    margin-top: 100px;
    line-height: 1.25em;
    font-family: "Lato", sans-serif; }
    @media only screen and (max-width: 767px) {
      body.home .masthead-wrapper h1,
      body.single.single-post .masthead-wrapper h1,
      .winnipeg-web-design .masthead-wrapper h1,
      .work .masthead-wrapper h1,
      .cv .masthead-wrapper h1 {
        margin-top: 40px;
        font-size: 1.8em;
        text-align: center; } }
  body.home .masthead-wrapper h3,
  body.single.single-post .masthead-wrapper h3,
  .winnipeg-web-design .masthead-wrapper h3,
  .work .masthead-wrapper h3,
  .cv .masthead-wrapper h3 {
    font-size: 1.25em;
    font-weight: 500; }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      body.home .masthead-wrapper h3,
      body.single.single-post .masthead-wrapper h3,
      .winnipeg-web-design .masthead-wrapper h3,
      .work .masthead-wrapper h3,
      .cv .masthead-wrapper h3 {
        font-size: 1.35em; } }
    @media only screen and (max-width: 767px) {
      body.home .masthead-wrapper h3,
      body.single.single-post .masthead-wrapper h3,
      .winnipeg-web-design .masthead-wrapper h3,
      .work .masthead-wrapper h3,
      .cv .masthead-wrapper h3 {
        font-size: 1.15em; } }
  body.home .masthead-wrapper .btn-cta,
  body.single.single-post .masthead-wrapper .btn-cta,
  .winnipeg-web-design .masthead-wrapper .btn-cta,
  .work .masthead-wrapper .btn-cta,
  .cv .masthead-wrapper .btn-cta {
    margin-top: 100px; }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      body.home .masthead-wrapper .btn-cta,
      body.single.single-post .masthead-wrapper .btn-cta,
      .winnipeg-web-design .masthead-wrapper .btn-cta,
      .work .masthead-wrapper .btn-cta,
      .cv .masthead-wrapper .btn-cta {
        margin-top: 60px; } }
    @media only screen and (max-width: 767px) {
      body.home .masthead-wrapper .btn-cta,
      body.single.single-post .masthead-wrapper .btn-cta,
      .winnipeg-web-design .masthead-wrapper .btn-cta,
      .work .masthead-wrapper .btn-cta,
      .cv .masthead-wrapper .btn-cta {
        margin-top: 40px; } }
  body.home .main-headline,
  body.single.single-post .main-headline,
  .winnipeg-web-design .main-headline,
  .work .main-headline,
  .cv .main-headline {
    margin-top: 100px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center; }
    body.home .main-headline:last-child,
    body.single.single-post .main-headline:last-child,
    .winnipeg-web-design .main-headline:last-child,
    .work .main-headline:last-child,
    .cv .main-headline:last-child {
      margin-right: 0; }
  @media only screen and (max-width: 767px) {
    body.home .usability-research h2, body.home .usability-research h3, body.home .usability-research h4, body.home .usability-research p,
    body.single.single-post .usability-research h2,
    body.single.single-post .usability-research h3,
    body.single.single-post .usability-research h4,
    body.single.single-post .usability-research p,
    .winnipeg-web-design .usability-research h2,
    .winnipeg-web-design .usability-research h3,
    .winnipeg-web-design .usability-research h4,
    .winnipeg-web-design .usability-research p,
    .work .usability-research h2,
    .work .usability-research h3,
    .work .usability-research h4,
    .work .usability-research p,
    .cv .usability-research h2,
    .cv .usability-research h3,
    .cv .usability-research h4,
    .cv .usability-research p {
      text-align: left; } }
  body.home .usability-research p,
  body.single.single-post .usability-research p,
  .winnipeg-web-design .usability-research p,
  .work .usability-research p,
  .cv .usability-research p {
    margin-bottom: 3em; }
  body.home .usability-research h3,
  body.single.single-post .usability-research h3,
  .winnipeg-web-design .usability-research h3,
  .work .usability-research h3,
  .cv .usability-research h3 {
    margin-top: 1.5em; }
    @media only screen and (max-width: 767px) {
      body.home .usability-research h3,
      body.single.single-post .usability-research h3,
      .winnipeg-web-design .usability-research h3,
      .work .usability-research h3,
      .cv .usability-research h3 {
        font-size: 1.5em; } }
  body.home .usability-research p.last,
  body.single.single-post .usability-research p.last,
  .winnipeg-web-design .usability-research p.last,
  .work .usability-research p.last,
  .cv .usability-research p.last {
    margin-bottom: 0; }
  body.home .services-points h4,
  body.single.single-post .services-points h4,
  .winnipeg-web-design .services-points h4,
  .work .services-points h4,
  .cv .services-points h4 {
    text-transform: uppercase;
    font-weight: normal; }
  body.home .services-points h4, body.home .services-points ul,
  body.single.single-post .services-points h4,
  body.single.single-post .services-points ul,
  .winnipeg-web-design .services-points h4,
  .winnipeg-web-design .services-points ul,
  .work .services-points h4,
  .work .services-points ul,
  .cv .services-points h4,
  .cv .services-points ul {
    text-align: left;
    color: #FFF; }
    @media only screen and (max-width: 767px) {
      body.home .services-points h4, body.home .services-points ul,
      body.single.single-post .services-points h4,
      body.single.single-post .services-points ul,
      .winnipeg-web-design .services-points h4,
      .winnipeg-web-design .services-points ul,
      .work .services-points h4,
      .work .services-points ul,
      .cv .services-points h4,
      .cv .services-points ul {
        text-align: center; } }
  @media only screen and (max-width: 767px) {
    body.home .services-points ul,
    body.single.single-post .services-points ul,
    .winnipeg-web-design .services-points ul,
    .work .services-points ul,
    .cv .services-points ul {
      list-style: none;
      padding-left: 0; } }
  body.home .services-points ul li a, body.home .services-points ul li a:link, body.home .services-points ul li a:visited,
  body.single.single-post .services-points ul li a,
  body.single.single-post .services-points ul li a:link,
  body.single.single-post .services-points ul li a:visited,
  .winnipeg-web-design .services-points ul li a,
  .winnipeg-web-design .services-points ul li a:link,
  .winnipeg-web-design .services-points ul li a:visited,
  .work .services-points ul li a,
  .work .services-points ul li a:link,
  .work .services-points ul li a:visited,
  .cv .services-points ul li a,
  .cv .services-points ul li a:link,
  .cv .services-points ul li a:visited {
    color: #469fdb;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out; }
  body.home .services-points ul li a:hover,
  body.single.single-post .services-points ul li a:hover,
  .winnipeg-web-design .services-points ul li a:hover,
  .work .services-points ul li a:hover,
  .cv .services-points ul li a:hover {
    text-decoration: none;
    color: #1e6a9d; }
  body.home .services-points ul li a:active,
  body.single.single-post .services-points ul li a:active,
  .winnipeg-web-design .services-points ul li a:active,
  .work .services-points ul li a:active,
  .cv .services-points ul li a:active {
    color: #71b5e3; }
  body.home .clients ul li,
  body.single.single-post .clients ul li,
  .winnipeg-web-design .clients ul li,
  .work .clients ul li,
  .cv .clients ul li {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FFF;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out; }
    body.home .clients ul li i,
    body.single.single-post .clients ul li i,
    .winnipeg-web-design .clients ul li i,
    .work .clients ul li i,
    .cv .clients ul li i {
      float: right;
      font-size: 1.25em;
      margin-top: 2px; }
      @media only screen and (min-width: 768px) and (max-width: 959px) {
        body.home .clients ul li i,
        body.single.single-post .clients ul li i,
        .winnipeg-web-design .clients ul li i,
        .work .clients ul li i,
        .cv .clients ul li i {
          display: none; } }

#logo-circle {
  margin: auto;
  min-width: 300px;
  max-width: 400px; }

#logo-circle object {
  width: 100%;
  min-height: 440px; }

.clients ul {
  padding-left: 0;
  list-style: none; }

body.services #masthead-wrapper, body.services .dark-bg, .branding #masthead-wrapper, .branding .dark-bg {
  background-color: #36C99F; }
body.services #masthead-wrapper h1, body.services #masthead-wrapper h3, .branding #masthead-wrapper h1, .branding #masthead-wrapper h3 {
  color: #FFF; }
body.services .page-toggle a, .branding .page-toggle a {
  color: #36C99F; }
body.services .showcase, .branding .showcase {
  padding-top: 60px; }
  body.services .showcase h3, .branding .showcase h3 {
    margin: 0; }
  @media only screen and (max-width: 767px) {
    body.services .showcase h3, body.services .showcase p, .branding .showcase h3, .branding .showcase p {
      text-align: left; } }

/* SASS Notes

	Compile SASS
  sass --watch assets/sass/main.scss:inc/styles.css

	// Disabled source map
	//  --sourcemap

	Bourbon
	$ bourbon help
	$ bourbon update

*/

/*# sourceMappingURL=styles.css.map */
