/*
Syntax error: Invalid CSS after "...-type), comma) ": expected "}", was "!global;"
        on line 25 of /Users/ryanbollenbach/dev/boompah-v4/sass/bourbon/addons/_html5-input-types.scss
        from line 50 of /Users/ryanbollenbach/dev/boompah-v4/sass/bourbon/_bourbon.scss
        from line 2 of /Users/ryanbollenbach/dev/boompah-v4/sass/main.scss

Backtrace:
/Users/ryanbollenbach/dev/boompah-v4/sass/bourbon/addons/_html5-input-types.scss:25
/Users/ryanbollenbach/dev/boompah-v4/sass/bourbon/_bourbon.scss:50
/Users/ryanbollenbach/dev/boompah-v4/sass/main.scss:2
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/scss/parser.rb:1147:in `expected'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/scss/parser.rb:1085:in `expected'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/scss/parser.rb:1080:in `tok!'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/scss/parser.rb:536:in `block'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/scss/parser.rb:252:in `each_directive'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/scss/parser.rb:174:in `special_directive'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/scss/parser.rb:146:in `directive'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/scss/parser.rb:553:in `block_child'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/scss/parser.rb:27:in `parse'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/engine.rb:342:in `_to_tree'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/engine.rb:274:in `to_tree'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/tree/root_node.rb:20:in `render'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/engine.rb:315:in `_render'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/sass-3.2.17/lib/sass/engine.rb:262:in `render'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/compiler.rb:126:in `timed'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/compiler.rb:138:in `block in compile'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/logger.rb:45:in `red'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/compiler.rb:137:in `compile'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/compiler.rb:101:in `each'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/compiler.rb:101:in `block in run'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/compiler.rb:126:in `timed'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/compiler.rb:100:in `run'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/path.rb:31:in `create'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/state/directory.rb:26:in `block in created'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `each'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `created'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/state/directory.rb:17:in `refresh'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/commands/base.rb:18:in `execute'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/commands/project_base.rb:19:in `execute'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/bin/compass:30:in `block in <top (required)>'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/bin/compass:44:in `call'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/gems/compass-0.12.4/bin/compass:44:in `<top (required)>'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/bin/compass:23:in `load'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/bin/compass:23:in `<main>'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/ryanbollenbach/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...-type), comma) \": expected \"}\", was \"!global;\"\A         on line 25 of /Users/ryanbollenbach/dev/boompah-v4/sass/bourbon/addons/_html5-input-types.scss\A         from line 50 of /Users/ryanbollenbach/dev/boompah-v4/sass/bourbon/_bourbon.scss\A         from line 2 of /Users/ryanbollenbach/dev/boompah-v4/sass/main.scss"; }
