/*
* CSS Author: Ryan Bollenbach
* www.boompah.com
*/

/* Header Styles
================================================== */

ul#header-nav 				{ float: right; margin: 40px 0 0 0; }
ul#header-nav li 			{ float: left; margin-left: 20px; }
ul#header-nav li a			{ font-weight: bold; text-decoration: none; }

header 						{ height: 100px; border: 1px solid #CCC; }

h1.home-greeting 			{ padding: 50px 0 30 0; }
h1.logo						{ font-size: 24px; float: left; }

/* Header Styles
================================================== */

footer 						{ height: 100px; margin-top: 30px; }