// ---------------------------------------------------------------------

	// Variables

// ---------------------------------------------------------------------

body{
	margin: 0;
	padding: 0;
	::selection {
		background: #CC0000; /* Safari */
		color: $white;
		}
	::-moz-selection {
		background: #CC0000; /* Firefox */
		color: $white;
	}
}

// ---------------------------------------------------------------------

	// Typography
	// Google Font Typefaces
	// font-family: 'Montserrat', sans-serif;

// ---------------------------------------------------------------------

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-family: 'Titillium Web', sans-serif;
}

h1 {
	font-size: 3em;
	font-weight: 600;
	line-height: 1.25em;
	@include respond-to(large-screens) { font-size: 2em; }
	@include respond-to(medium-screens) { font-size: 1.75em; }
	@include respond-to(handhelds) { font-size: 1.5em; }
	}
	
h2 {
	font-size: 2.25em;
	line-height: 1.5em;
	@include respond-to(large-screens) { font-size: 1.75em; }
	@include respond-to(medium-screens) { font-size: 1.5em; }
	@include respond-to(handhelds) { font-size: 1.25em; }
}
	
h3 {
	font-size: 2em;
	font-weight: 600;
	line-height: 1.75em;
	@include respond-to(large-screens) { font-size: 1.5em; }
	@include respond-to(medium-screens) { font-size: 1.25em; }
	@include respond-to(handhelds) { font-size: 1.25em; }
	}

h4 { 
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.5em;
	@include respond-to(large-screens) { font-size: 1.25em; }
	@include respond-to(handhelds-and-medium-screens) { font-size: 1.15em; }
	}

p {
	font-size: 1.25em;
	@include respond-to(handhelds-and-medium-screens) { font-size: 1.15em; }
	}

// ---------------------------------------------------------------------

	// Lists

// ---------------------------------------------------------------------

ul, ol {
	@include respond-to(large-screens) { font-size: .9em; }
	@include respond-to(handhelds-and-medium-screens) { font-size: .8em; }
}

ul {
	li {
		margin-bottom: 20px;
		a, a:link, a:visited {
		}
	} // li
} // ul

.container {
	padding: 0 1.2em;
	
	@include outer-container;
	
	h2 {
		text-align: center;
		font-size: 3em;
		@include respond-to(large-screens) { font-size: 2.25em; }
		@include respond-to(handhelds-and-medium-screens) { font-size: 1.75em; }

		line-height: 1em;
		padding: .5em 0;
	}
	
} // container

#masthead-wrapper {
	padding: 4% 0;
	text-align: center;
	
	h1 {
		margin: 0;
		display: block;
		font-size: 10em;
		@include respond-to(large-screens) { font-size: 7em; }
		@include respond-to(handhelds-and-medium-screens) { font-size: 3em; }

		font-weight: 900;
		letter-spacing: 2px;
	}
	
	h3 {
		font-weight: 200;
		font-size: 2em;
		@include respond-to(large-screens) { font-size: 1.75em; }
		@include respond-to(handhelds-and-medium-screens) { font-size: 1.25em; }
	}
	
} // masthead-wrapper

// ---------------------------------------------------------------------

	// Links

// ---------------------------------------------------------------------

a, a:link, a:visited {
	text-decoration: none;
	color: $link-blue;
}

a:hover {
	text-decoration: underline;
}

a.button, a.button:link, a.button:visited, a.button:hover { text-decoration: none; }

a.button, a.button:visited {
	font-size: 1em;
	@include respond-to(handhelds-and-medium-screens) { font-size: .9em; }
	padding: 1em 3em;
	background-color: $link-blue;
	color: $white;
	@include transition (all 0.35s ease-in-out);
}

a.button:hover { background-color: lighten($link-blue, 10%); }
a.button:active { background-color: darken($link-blue, 10%); }

// ---------------------------------------------------------------------

	// Showcase

// ---------------------------------------------------------------------
.showcase {
	text-align: center;
	padding-bottom: 40px;
	
	.clients {
		@include span-columns(3);
		text-align: left;
	}
	
	.link-split {
		color: #999999;
		margin: 0 15px;
	}
	
	.row {
		margin-bottom: 30px;
		display: inline-block;
		width: 100%;
		clear: both;
	}
	
	.half {
		@include span-columns(6);
		text-align: left;
		@include respond-to(handhelds-and-medium-screens) { 
			width: 100%;
			text-align: center;
		}
	} // half
	
	.cta{
		text-transform: uppercase;
	}
	
	a.button{
		margin: .5em 0;
		display: inline-block;
		@include border-top-radius(25px);
		@include border-bottom-radius(25px);
		@include border-left-radius(25px);
		@include border-right-radius(25px);
	}
	
	.panel {
		@include span-columns(4);
		@include respond-to(handhelds-and-medium-screens) { 
			width: 100%;
			}
		}

} // showcase

.dark-bg {
	h2 { color: $white; }
}

.gray-bg {
	background-color: lighten($black, 95%);
}

/* Miscellaneous Helpers */
.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.panel-block {
	background-color: $light-blue;
	border: 1px solid $light-blue-border;
	height: 202px;
	text-align: center;
}

@include respond-to(handhelds-and-medium-screens) { 
	.hidden-mobile { display: none; }
}

.show-mobile {
	display: none;
	@include respond-to(handhelds-and-medium-screens) { display: inline; }
}

/* Reusable Containers */

.one-fourth {
	margin-right: 5%;
	float: left;
}

.one-fourth.last {
	margin-right: 0;
}

.one-fourth {
	width: 21%;
	text-align: left;
}

// ---------------------------------------------------------------------

	// Images

// ---------------------------------------------------------------------

.logo-boompah-circle-landing {
	height: auto;
	@include respond-to(handhelds-and-medium-screens) { margin: 1.25em 0 .5em 0; }
	@include respond-to(medium-screens) { width: 200px; }
	@include respond-to(handhelds) { width: 150px; }
}