a.btn-default {
  padding: 5px 20px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid $white;
  color: $white;
  font-size: 1.25em;
  &:hover {
    background-color: $secondary-brand;
    border: 1px solid $secondary-brand;
    color: $white;
    text-decoration: none;
  }
  i {
    margin-left: 15px;
  }
}

a.btn-cta {
  @extend .btn-default;
  border: 1px solid $secondary-brand;
  color: $secondary-brand;
}
