.btn {
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

a.btn.btn-cta {
  padding: 5px 20px;
  background-color: $primary-btn;
  color: $primary-btn-text;
  &:hover {
    background-color: lighten($primary-btn, 10%);
  }
  i {
    margin-left: 15px;
  }
}

a.btn-cta {
  font-size: 1.25em;
}
