footer {
  ul {
    list-style: none;
    padding-left: 0;
  }
  h5 {
    margin-top: 0;
    font-size: 1.25em;
  }
  h5, p {
    color: $alabas-gray;
    font-weight: 200;
  }
  .top-wrap {
    padding: 60px 0;
    background: url(/img/footer/black_lozenge/black_lozenge.png) $dark-gray;
  }
  .made-in-manitoba,
  .we-are-passionate,
  .want-more,
  .socialize {
    text-align: center;
    height: 320px;
    padding-top: 40px;
    @include respond-to(handhelds-and-medium-screens) {
      text-align: left;
      height: auto;
      padding-top: 10px;
    }
  }
  .made-in-manitoba,
  .we-are-passionate {
    @include span-columns(4);
    h5, p {
      margin: 0 20px 0 0;
      @include respond-to(handhelds-and-medium-screens) {
        margin-right: 0;
        text-align: left;
      }
    }
    a, a:link, a:visited {
      color: $alabas-gray;
      text-decoration: underline;
    }
    @include respond-to(handhelds-and-medium-screens) {
      display: block;
      float: none;
      width: 100%;
    }
  }
  .made-in-manitoba {
    border-right: 1px solid $dark-gray-border;
    @include respond-to(handhelds-and-medium-screens) {
      border-right: none;
    }
  }
  .we-are-passionate {
    border-right: 1px solid $dark-gray-border;
    @include respond-to(handhelds-and-medium-screens) {
      border-right: none;
    }
  }
  .want-more,
  .socialize {
    @include span-columns(2);
    @include respond-to(handhelds-and-medium-screens) {
      margin-top: 40px;
      width: 40%;
    }
  }
  .socialize {
    border-left: 1px solid $dark-gray-border;
    @include respond-to(handhelds-and-medium-screens) {
      border-left: none;
    }
  }
  .bottom {
    background-color: $primary-brand;
    text-align: center;
    padding: 30px 0 20px 0;
    .square-boompah-logo {
      width: 60px;
      height: 50px;
    }
  }
  .home-icon {
    display: none;
  }
  a, a:link, a:visited {
    color: $white;
  }
  a:hover {
    text-decoration: none;
    color: $red;
  }
} // footer
