header.primary-nav {
  .boompah-logo {
    position: relative;
    top: 20px;
    left: 20px;
    float: left;
    img {
      width: 168px;
      height: 40px;
    }
    @include respond-to(handhelds-and-medium-screens) {
      width: 130px;
      height: auto;
    }
  }
}
