nav.primary {
  @include outer-container;
  a { @include transition (all 0.35s ease-in-out); }
  a.boompah {
    position: absolute;
    float: left;
    display: inline-block;
    height: auto;
    top: 22px;
    @include respond-to (top-navigation-query) {
      top: 8px;
    }
    @include respond-to (handhelds-and-medium-screens) {
      top: 8px;
      left: 0;
    }
  }
  .slimmenu {
    float: right;
    @include respond-to (handhelds-and-medium-screens) {
      float: none;
    }
    @include respond-to (large-screens) {
      width: 100%;
      text-align: right;
    }
  }
  .bitcoin {
    margin: 25px 0 0 20px;
    float: right;
    @include respond-to (handhelds-and-medium-screens) {
      width: 100px;
      margin-top: 22px;
    }
  }
} // nav
