// @if example
$type: boomplay;
p.if-test {
  @if $type == bbq {
    color: blue;
  } @else if $type == guitar {
    color: purple;
  } @else if $type == computer {
    color: yellow;
  } @else if $type == boomplay {
    color: red;
  }
}

// @for example
@for $i from 1 through 5 {
  .fortest-#{$i} { width: 1.5em * $i }
}

// @each example
@each $animal in cat, dog, fish, bird {
  .#{$animal}-icon {
    background-image: url('/images/#{$animal}.png');
  }
}

// Another example of @each with mapping

// @each $header, $size in (h1: 2em, h2: 1.5em, h3: 1.2em) {
//   #{$header} {
//     font-size: $size;
//   }
// }

// @while example
$i: 8;
@while $i > 0 {
  .item-#{$i} { width: 3em * $i }
  $i: $i - 2;
}