// ---------------------------------------------------------------------

  // Typography
  // Google Font Typefaces

// ---------------------------------------------------------------------

h1, h2, h3, h4, h5, h6, p, a, ul, span {
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 0;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.25em;
  @include respond-to(large-screens) { font-size: 2em; }
  @include respond-to(medium-screens) { font-size: 1.75em; }
  @include respond-to(handhelds) { font-size: 1.5em; }
  }
  
h2 {
  font-size: 2.25em;
  line-height: 1.5em;
  @include respond-to(large-screens) { font-size: 1.75em; }
  @include respond-to(medium-screens) { font-size: 1.5em; }
  @include respond-to(handhelds) { font-size: 1.25em; }
}
  
h3 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1em;
  @include respond-to(large-screens) { font-size: 1.5em; }
  @include respond-to(medium-screens) { font-size: 1.25em; }
  @include respond-to(handhelds) { font-size: 1.25em; }
}

h4 { 
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1em;
  @include respond-to(large-screens) { font-size: 1.25em; }
  @include respond-to(handhelds-and-medium-screens) { font-size: 1.15em; }
  margin: 40px 0 10px 0;
}

h5 { 
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1em;
  @include respond-to(large-screens) { font-size: 1em; }
  @include respond-to(handhelds-and-medium-screens) { font-size: 1em; }
}

p, ul, ol {
  font-size: 22px;
  @include respond-to(handhelds-and-medium-screens) { font-size: 1.15em; }
}

a { @include transition (all 0.35s ease-in-out); }

.text-center {
  text-align: center;
}

.light-base-header {
  color: lighten($base-text, 80%);
}