// ---------------------------------------------------------------------

  // Typography
  // Google Font Typefaces

// ---------------------------------------------------------------------

.italic { font-style: italic; }
.bold   { font-weight: 700; }

h1, h2, h3, h4, h5, h6, p, a, ul, ol, span {
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 0;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.25em;
  @include respond-to(large-screens) { font-size: 2em; }
  @include respond-to(medium-screens) { font-size: 1.75em; }
  @include respond-to(handhelds) { font-size: 1.5em; }
  }
  
h2 {
  font-size: 2.25em;
  line-height: 1.5em;
  @include respond-to(large-screens) { font-size: 1.75em; }
  @include respond-to(medium-screens) { font-size: 1.5em; }
  @include respond-to(handhelds) { font-size: 1.25em; }
}
  
h3 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1em;
  @include respond-to(large-screens) { font-size: 1.5em; }
  @include respond-to(medium-screens) { font-size: 1.25em; }
  @include respond-to(handhelds) { font-size: 1.25em; }
}

h4 { 
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1em;
  @include respond-to(large-screens) { font-size: 1.25em; }
  @include respond-to(handhelds-and-medium-screens) { font-size: 1.15em; }
  margin: 40px 0 10px 0;
}

h5 { 
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1em;
  @include respond-to(large-screens) { font-size: 1em; }
  @include respond-to(handhelds-and-medium-screens) { font-size: 1em; }
}

p, ul, ol {
  font-size: 22px;
  @include respond-to(handhelds-and-medium-screens) { font-size: 1.15em; }
}

a { @include transition (all 0.35s ease-in-out); }

.text-center {
  text-align: center;
}

.light-base-header {
  color: lighten($base-text, 80%);
}

// Blockquotes
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}