// ---------------------------------------------------------------------

	// Colors

// ---------------------------------------------------------------------

$white: #FFF;
$black: #000;

// Home
$dark-blue: #232333;
$light-blue: #e4e7ee;
$light-blue-border: #aab2bf;