// ---------------------------------------------------------------------

	// Colors

// ---------------------------------------------------------------------

$white: #FFF;
$black: #000;
$link-blue: #3b5998;

// Home
$dark-blue: #232333;
$light-blue: #e4e7ee;
$light-blue-border: #aab2bf;
$hot-blue: #469fdb;

$soft-purple: #7070ba;
$light-purple: #a5a5ce;
$secondary-purple: #797999;
$medium-purple: #393951;
$gray-purple: #38384f;
$subtle-purple: #41415b;

$royal-blue: #10456b;

// Clients
$oboxmedia-blue: #1ABEDE;
$orange: #FB7A00;
$hollywood-pink: #E572A7;
$fellerath-red: #720e1d;
$fbs-blue: #589cc6;
$pente-red: #cc1e27;
$tungle-green: #9ac146;
$fieldturf-green: #118546;
$diamond-purple: #998C9A;
$reitmans-gray: #7e8083;
$osm-blue: #322e84;
$ybp-teal: #2dfec8;
$j3concepts-purple: #652d90;