// ---------------------------------------------------------------------

	// Colors

// ---------------------------------------------------------------------

$white: #FFF;
$black: #000;
$link-blue: #3b5998;

// Home
$dark-blue: #232333;
$light-blue: #e4e7ee;
$light-blue-border: #aab2bf;
$hot-blue: #469fdb;

$soft-purple: #7070ba;
$light-purple: #a5a5ce;
$secondary-purple: #797999;
$medium-purple: #393951;
$gray-purple: #38384f;
$subtle-purple: #41415b;

// Featured Work
$hollywood-pink: #E572A7;