footer {
	padding: 3em 0;
	background-color: $light-gray;

	.container {
		@include respond-to(handhelds-and-medium-screens) { text-align: center; }
	}
	
	ul {
		float: left;		
		padding-left: 0;
		margin-left: 9%;
		@include respond-to(large-screens) { 
			margin-left: 6%;
			}
		list-style: none;
		text-transform: uppercase;
		
		li {
			a, a:link, a:visited {
				@include respond-to(handhelds-and-medium-screens) { font-size: 1.25em; }
			}
		}
	} // ul
	
	ul.nav {
		li.home-icon {
			display: none;
		}
		a {
			color: $black;
		}
		@include respond-to(handhelds-and-medium-screens) { 
			margin-left: 0;
			width: 100%;
			a {
				width: 100%;
				padding: 1em 0;
				text-align: center;
				display: block;
				background-color: $base-gray;
				color: $white;
				@include border-top-radius(5px);
				@include border-bottom-radius(5px);
				@include border-left-radius(5px);
				@include border-right-radius(5px);
				
				@include transition (all 0.35s ease-in-out);
			}
			a:hover { background-color: darken($base-gray, 20%); }
			a:active { background-color: darken($base-gray, 10%); }
		}
		@include respond-to(large-screens) { 
			margin-left: 0;
			width: 100%;
			a {
				width: 100%;
				padding: 1em 0;
				text-align: center;
				display: block;
				background-color: $base-gray;
				color: $white;
				@include border-top-radius(5px);
				@include border-bottom-radius(5px);
				@include border-left-radius(5px);
				@include border-right-radius(5px);
			}
		}
	}
		
	a, a:link, a:visited { color: $base-gray; }
	a:hover {
		text-decoration: none;
		color: darken($white, 40%);
	}
	a:active { color: darken($white, 20%); }
	
	a.circle-logo {
		float: left;
	}
	
	.copyright {
		@include span-columns(12);
		margin-top: 1em;margin-top: 25px;
		border-bottom: 1px solid $white;
		p, ul {
			margin-top: 3em;
		}
	} // copyright

	.copyright-line {
		margin-top: 25px;
		float: left;
		font-size: 1em;
		display: inline-block;
		color: $base-gray;
		@include respond-to(handhelds-and-medium-screens) {
			float: none;
		}
	}

	ul.social-links {
		margin-top: 25xpx;
		float: right;
		display: inline-block;

		@include respond-to(handhelds-and-medium-screens) {
			margin-left: 0;
		}

		li {
			display: inline-block;
			margin: 0 10px;

			a, a:link, a:visited {
				font-size: 32px;
			}
		}
		@include respond-to(handhelds-and-medium-screens) { 
			float: none;
		}
	} // ul
} // footer