nav.primary {
	@include outer-container;
	a { @include transition (all 0.35s ease-in-out); }
	a.boompah {
		position: absolute;
		float: left;
		display: inline-block;
		height: auto;
		top: 22px;
		@include respond-to (top-navigation-query) {
			top: 8px;
		}
		@include respond-to (handhelds-and-medium-screens) {
			top: 8px;
			left: 16px;
		}
	}
	.slimmenu {
		float: right;
		@include respond-to (handhelds-and-medium-screens) {
			float: none;
		}
	}
	.bitcoin {
		margin: 25px 0 0 20px;
		float: right;
		@include respond-to (handhelds-and-medium-screens) {
			width: 100px;
			margin-top: 22px;
		}
	}
	// ul {
	// 	margin-top: 25px;
	// 	float: right;
	// 	list-style: none;
	// 	@include respond-to(handhelds-and-medium-screens) { display: none; }
	// 	@include respond-to(large-screens) { display: none; }
	// 	li.home-text {
	// 		display: none;
	// 	}
	// 	li {
	// 		float: left;
	// 		margin-left: 30px;
			
	// 		a {
	// 			font-size: 18px;
	// 			color: $base-gray;
	// 		}
			
	// 		a:hover, a:active {
	// 			text-decoration: none;
	// 			color: lighten($base-gray, 15%);
	// 		}
				
	// 		a.selected, a.selected:visited {
	// 			background-color: $base-gray;
	// 			color: $white;
	// 			padding: 10px 25px;
	// 			@include border-top-radius(20px);
	// 			@include border-bottom-radius(20px);
	// 			@include border-left-radius(20px);
	// 			@include border-right-radius(20px);
	// 		}
	// 		a.selected:hover {
	// 			background-color: lighten($base-gray, 10%);
	// 		}
	// 		a.selected:active {
	// 			background-color: darken($base-gray, 10%);
	// 		}
	// 	} // li
	// } // ul
} // nav